<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rare</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav class="nav-home ">
        <div class="navbar container-fluid d-flex justify-content-between align-items-center">
            <div class="home-nav-left d-flex ">
                <%if(locals.dataImage){%>
                    <img src="/uploads/<%=dataImage%>" class="nav-left" alt="logo" width="40px">

                <%}else{%>
                    <img src="/image/logo-removebg-preview.png" class="nav-left" alt="logo" width="40px">
                <%}%>
                
                <form action="">
                    <div class="ms-3 form-control rounded-pill bg-body-tertiary">
                        <a href="#"><i class="fa-solid fa-magnifying-glass" style="color: #51555c;"></i></a>
                        <input type="text" class="search-input bg-body-tertiary" placeholder="Search">
                    </div>
                </form>
            </div>

            <div class="home-nav-rigth">
                <div class="dropdown d-flex align-items-center">
                    <div class="me-3 h-100 d-flex align-items-center">
                        <a href="/write"><i class="fa-solid fa-pen-to-square "></i> Write</a>
                    </div>
                    <div>
                        <a class="dropdown d-flex align-items-center hidden-arrow" type="button
                        id=" navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/image/defaultUserIcon2.jpg" class="rounded-circle"
                                height="40" alt="Black and White Portrait of a Man" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a class="dropdown-item" href="/user/profile"><i class="fa-regular fa-user"
                                        style="color: #51555c;"></i> Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="fa-regular fa-bookmark"
                                        style="color: #51555c;"></i> Library</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="fa-regular fa-clipboard"
                                        style="color: #51555c;"></i> Stories</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="/user/logout">
                                    <h6>sign out</h6>
                                    <p><%=dataUser.email%></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
