<%-include('./partials/homeHeader')%>
<div class="container w-50 pt-5">
    <h2 class="blog-s-title fw-bold">JSON is incredibly slow:Here's What's Faster!</h2>
    <div class="blog-header d-flex align-items-center mt-4">
        <a href="#"><img src="/image/photoMe-color.png" class="rounded-pill" width="40px" alt="chanadee"></a>
        <a href="#" class="author-name text-bold fw-bold">Chanadee Hlaoken</a>
        <i class="fa-solid fa-circle fa-xs mt-1" style="color: #d4d6d9; font-size: 6px;"></i>
        <span> November 4,2023</span>
       
        
    </div>
    <div class="pub-contact w-100 mt-4">
        <div class="h-100 d-flex align-items-center ms-3">
            <a href="#">
                <i class="fa-regular fa-thumbs-up"></i>
            </a>
            <span class="ms-2">8.2K</span>
            <a href="#">
                <i class="fa-regular fa-comment fa-flip-horizontal ms-4"></i>
            </a>
            <span class="ms-2">2</span>
        </div>
    </div>
</div>


<%-include('./partials/homeFooter')%>