@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Thai:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root{
    --font-header : 'Prata', serif;
    --font-content : 'Noto Sans Thai', sans-serif;
    --font-title: 'Roboto', sans-serif;
    --debug-border : 1px solid red 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-home{
    background-color: #fff;
    border-bottom: 1px solid #333;
}

.home-nav-rigth{
    margin-right: 30px;
}
.home-nav-left{
    margin-left: 20px;
}
.search-input{
    border: none;
    margin-left: 5px;
}

.search-input:hover{
    outline: none;
    border: none;
}
.search-input:focus{
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    color: #333;
}

.blog-header>*{
    margin-left: 10px;
}

.blog-header>span{
    margin-left: 2px !important;
    color: #d4d6d9;
    font-size: 12px;
}

.box-content{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 500px;
}

.img-content{
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.pub-contact{
    height: 45px;
    border-bottom:1px solid #d4d4d4;
    border-top:1px solid #d4d4d4;
    color: rgb(116, 116, 116);
}

.pub-contact>div a{
    font-size: 18px;
    color: rgb(116, 116, 116);

}
.pub-contact>div span{
    font-size: 13px;
}

.head-title{
    width: 100%;
    height: 450px;
    background-color: #ebebeb;
}

.title{
    font-family: var(--font-header);
    font-size: 50px;
    max-width: 100%;
    color: #616060;
}

.head-img{
    height: 100%;
    overflow: hidden;
    
}

.head-img>img{
    width: 700px;
    height: 100%;
    object-fit: cover;
    padding: 0 !important;
    margin-left: 60px;
}

.write-head-left>p{
    padding-top: 20px;
    margin-left: 8px;
}

#post-btn{
    width: 60px;
    height: 30px;
}
#post-btn>a{
    background-color: rgb(0, 146, 0);
    border-radius: 30px;
    padding: 3px 12px;
    text-decoration: none;
    color: #fff;
    transition: all .2s ease-in;
}
#post-btn>a:hover{
    background-color: rgb(0, 114, 0);
}


#cancel-btn{
    width: 60px;
    height: 30px;
    padding: 0 35px;
    margin: 0 5px;
}
#cancel-btn>a{
    background-color: rgb(63, 63, 63);
    border-radius: 30px;
    padding: 3px 12px;
    text-decoration: none;
    color: #fff;
    transition: all .2s ease-in;
}
#cancel-btn>a:hover{
    background-color: rgb(49, 49, 49);
}

.dropdown-selected{
    color: #000000 !important;
    pointer-events: none;
    cursor: default;
    font-weight: bold !important;
}

/* .write-title{
    width: calc(100% - 10px);
    font-family: var(--font-header);
    outline: none;
    border: none;
    font-size: 50px;
    word-wrap: break-word;
    overflow-wrap: break-word;
} */

#title {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: var(--font-header);
    outline: none;
    border: none;
    font-size: 25px;
    word-break: break-all;
    overflow: hidden;
    resize: none;
    
  }

  #content{
    width: 100%;
    height: 85vh;
    padding: 10px;
    margin-bottom: 10px;
    font-family: var(--font-content);
    outline: none;
    border: none;
    font-size: 20px;
    word-break: break-all;
    overflow: auto;
    resize: none;
    
}

#fileInput{
cursor: pointer;
display: none;
}
#fileInput:hover{
cursor: pointer;
}
.input-image{
    background-color: transparent;
    border: 2px solid #0dc200;
    padding: 15px 5px;
    border-radius: 100%;
    color: #0dc200;
    transition: all .2s ease-in;
}
.input-image:hover{
    background-color: #0dc200;
    color: #fff;
    cursor: pointer;
}

#uploadedImage{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.profile-image{
    position: relative;
}
.profile-image>input[type='file']{
    display: none;
    width: 250px;
    height: 250px;
}
.profile-image>label>img{
    width: 250px;
    height: 250px;
    transition: all .3s ease;
}
.profile-image img:hover,.profile-image img:focus{
    
}

.btn-submit{
    border: none;
    border-radius: 15px;
    color: #fff;
    padding: 2px 12px;
    background-color: #0da302;
    transition: all .2s ease;
}

.btn-submit:hover{
    background-color: #087a00;
}

.btn-back{
    border-radius: 15px;
    color: #fff;
    padding: 4px 18px;
    background-color: #4e4e4e;
    transition: all .2s ease;
}

.btn-back:hover{
    background-color: #333;
}

hr{
    padding: 0;
    margin-top: 1px;
}
.link-profile-container{
    position: relative;
}
.main-link{
    position: absolute;
    top:-15px;
}
.link-profile{
    color: rgb(0, 140, 255);
    text-decoration: underline;
    font-weight: bold;
    font-size: 13px;
    padding: 0;
    transition: all .2s ease-in;
}

.link-profile:hover{
    color: rgb(194, 0, 0);
}

#result{
    font-family: var(--font-content);
}
/* .profile-image>label div:hover,.profile-image>label div:focus{
    z-index: 10;
} */













